        </div>
        <footer class="py-5 bg-dark">
            <div class="cont">
                <div class="m-0 text-center text-white">
                    Copyright &copy; Your Website <%= new Date().getFullYear() %>
                </div>
            </div>
        </footer>
        <script src="/public/vendor/jquery/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>